/* 共通 */
.login-form {
    width: 100vm;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    background-color: #F4F5F7;
}

/* ホーム */
.sidebar > ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar {
    height: 100vh;
}

.sidebar  h4 {
    word-wrap: break-word;
}

.sidebar  a {
    text-decoration: none;
    color: #000;
}

.sidebar  a:hover {
    opacity: 0.3;
    text-decoration: none;
}
