<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <title>ホーム</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-warning">
                ヘッダー
            </div>
            <!-- ここまでヘッダー -->
            <div class="col-2 sidebar bg-success">
                <ul>
                    <li>申請</li>
                    <li>認証者設定</li>
                    <li>勤務パターン</li>
                    <li>管理画面</li>
                    <li>承認</li>
                </ul>
            </div>
            <!-- サイドバーここまで -->
            <div class="col-10 bg-primary">
                <main>

                </main>
            </div>
        </div>
    </div>
</body>
</html>